[Unit]
Description=Newsletters API Service
After=network.target

[Service]
Type=simple
User=ubuntu
ExecStart=/usr/bin/node /opt/newsletters-api/dist/apps/newsletters-api/index.cjs
Restart=on-failure

[Install]
WantedBy=multi-user.target

