# example values for .env.local file to use s3 locally
USE_LOCAL_STORAGE=false

# the name of the s3 bucket holding the data. (avoid committing actual bucket names in the repo)
S3_BUCKET=your-bucket-name

# aws region to use, probably 'eu-west-1' (default for Guardian accounts)
S3_REGIONS=eu-west-1

# the janus profile to use for credentials, probably 'developerPlayground' for local testing
S3_PROFILE=developerPlayground
