# Example values for .env.local file

# To use s3 locally (overriding the s3 values below, set to true)
USE_IN_MEMORY_STORAGE=false

# the name of the s3 bucket holding the data. (avoid committing actual bucket names in the repo)
NEWSLETTER_BUCKET_NAME=your-bucket-name

# aws region to use, probably 'eu-west-1' (default for Guardian accounts)
S3_REGIONS=eu-west-1

# the janus profile to use for credentials, probably 'developerPlayground' for local testing
S3_PROFILE=developerPlayground

# whether to serve the UI on the index route of the API
NEWSLETTERS_UI_SERVE=true

# required to determine the environment the app in running in
STAGE=DEV
STACK=newsletters
APP=newsletters-api

# toggle for whether to use dynamic image signing. This allow us to optionally sign uploaded image assets for email rendering
ENABLE_DYNAMIC_IMAGE_SIGNING=false

# toggle for whether to use the developer profile for local development
USE_DEVELOPER_PROFILE=true

# the name of the local user for development
LOCAL_USER_PROFILE_NAME="Software Developer"
# the Email Address of the local user for development
LOCAL_USER_PROFILE_EMAIL=software.developer@guardian.co.uk

# allows local running with developer permissions without needing to login
# Update the access level as required:
# 0 - Developer, 1 - Editor, 2 - Drafter, 3 - Viewer
USER_PERMISSIONS={"software.developer@guardian.co.uk": 0}

# whether to fetch from a local instance of email rendering on port 3010
# instead of the PROD service.
# USE_LOCAL_EMAIL_RENDERING=true

# The email addresses to which all emails are sent to when not on PROD.
# use semi-colons to separate the values.
# TEST_EMAIL_RECIPIENTS=firstname.lastname@guardian.co.uk;other.person@guardian.co.uk;
